/***** GERAL *****/
body {
	background-color: #f5f5f5 !important;
	font-size: 14px;
}
.container {
	width: 90% !important;
	max-width: inherit;
}
.fs-7 {
	font-size: 12px;
}
.pagination .active a {
	background-color: rgba(9, 30, 66, 0.08) !important;
	box-shadow: inset 0px 1px 11px -4px #999 !important;	
}
.table-mobile th, td {
    white-space: nowrap;
}

/***** TELA PRINCIPAL *****/
.card {
	border: none;
	margin-top: 30px;
	margin-bottom: 30px;
}
.card-header {
	background-color: #ddd;
	border: none;
	text-transform: uppercase;
	color: #666;
}

/***** TABLE *****/
.table .thead-dark th {
	color: #666;
	background-color: #ddd;
	border: 2px solid #b7b5b5;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
}

/***** BOTOES ******/
.btn {
	font-size: 12px;
	text-transform: uppercase;
}
.btn-menu {
    color: #fff;
    background-color: #49958B;
    border-color: #49958B;
}

/***** MENU *****/
.navbar-light {
	background-color: #29323B !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .8rem;
	padding-left: .8rem;
	color: #fff;
	font-size: 12px;
}

/***** LOGIN *****/
.login {
	width: auto;
	max-width: 370px;
	margin: 10% auto;
	background: #fff;
	border: 1px solid #dddddd;
	padding: 20px;
}

/***** LOADING *****/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
	opacity: 0.5;
}

/***** SCROLL *****/
/* Para a div que conterá a barra de rolagem superior */
.scroll-wrapper-top {
    width: 100%; /* Ocupa toda a largura disponível */
    overflow-x: scroll; /* Ativa o scroll horizontal */
    overflow-y: hidden; /* Esconde o scroll vertical, se houver */
    height: 20px; /* Altura da barra de rolagem, pode ajustar */
    margin-bottom: 5px; /* Espaço entre a barra superior e a tabela */
}

/* O elemento interno que define a largura total do conteúdo para o scroll superior */
.scroll-indicator-top {
    height: 1px; /* Mínimo para que a barra de rolagem apareça */
    /* A largura será definida via JavaScript */
    /* Garante que o indicador seja visível para o scroll */
    min-width: 100%; /* Isso é importante para que o scroll apareça mesmo que a tabela não esteja grande no início */
}

/* Para a div que contém a tabela, onde o scroll horizontal inferior estará */
.table-scroll-bottom {
    overflow-x: auto; /* Ativa o scroll horizontal se necessário */
    /* Certifique-se de que não há overflow-y aqui, a menos que você queira scroll vertical */
    /* Se precisar de scroll vertical, defina max-height e overflow-y para a div, e não para a tabela */
}

/* Garante que a tabela não se "quebre" horizontalmente */
.table-scroll-bottom table {
    width: auto; /* A tabela se ajusta à largura do conteúdo */
    /* Remova min-width: 100% se a tabela não estiver transbordando quando deveria.
       O ideal é que o conteúdo interno das células force a largura da tabela */
    border-collapse: collapse; /* Boa prática para tabelas */
}
